/*头部*/
header{
	height: 60px;
	background: #282828;
	margin:0 -15px;
	padding:0px 5px
}
header img{
	width: 100px;
}
/*预约量房与方案设计*/
.form-item{
	padding:35px;
}
.form-item h1{
	font-size: 26px;
	text-align: center;
	margin-bottom: 25px;
}
.form-item .form-group {
	margin-bottom: 30px;
}
.form-item .form-group label{
	color: #ababae;
	font-weight: normal;
	font-size: 16px;
}
.form-item .form-group .form-control{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	background: #f2f2f2;
	border-radius: 0;
}
.form-item .btn{
	border-radius: 0;
	height: 50px;
	line-height: 50px;
	padding:0;
	background-color: rgba(16, 115, 146, 0.77);
	color: #fff;
	font-size: 20px;
}

/* 底部 */
footer{
	background: rgba(98,94,94,0.77);
	padding: 10px 0;
	font-size: 14px;
	position: fixed;
	bottom:0;
	width: 100%;;
}
footer .col-xs-4 span{
	background: #000000;
	color: #fff;
	padding:3px;
}
footer .col-xs-4 span a,footer .col-xs-4 span a:hover,footer .col-xs-4 span a:active{
	color: #fff;
	text-decoration: none;
}
footer .ft-border{
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}

@media only screen and (max-width: 500px) {
	.form-item{
		padding:25px 35px;
	}
	.form-item h1{
		font-size: 22px;
		margin-bottom: 20px;
	}
	.form-item .form-group{
		margin-bottom: 20px;
	}
	.form-item .form-group label{
		font-size: 14px;
	}
	.form-item .btn,.form-item .form-group .form-control{
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}
	footer{
		font-size: 12px;
	}
	footer .col-xs-4{
		padding:0
	}
}