.container-fluid>.row{
	height: 100%;
}
.item{
	position: relative;
	max-height: 100%;
	overflow: hidden;
}
.item .btns{
	padding:0 20px;
	bottom:45px;
	left:0;
	width: 100%;
}
.btns a.btn{
	color: #fff;
	margin: 10px 0;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	line-height: 1.3333333;
}
.btns a.btn span{
	display: block;
	text-align: right;
	font-size: 14px;
	position: absolute;
	bottom:10px;
	right:10px;
}
.select-img img{
	width: 100%;
	display: block;
}
.btn-transparent{
	background-color: rgba(0,0,0,0.4);
	border:1px solid transparent;
	transform: translateZ(0);
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;	
}
.btn-transparent:hover{
	border: 1px solid #fff;
	background-color: rgba(16, 115, 146, 0.77);
	transition: background-color 300ms linear,border 300ms linear;
}
.text-content{
	font-size: 18px;
}
.text-content p{
	margin:20px 0;
	color: #706e6e;
}
.text-content .btn-transparent{
	background: #3e3e3e;
	border: none;
}
.text-content .btn-transparent:hover,.text-content .btn-transparent:focus{
	border:none;
	background-color: rgba(16, 115, 146, 0.77)!important;
	transition: background-color 300ms linear,border 300ms linear;
}
.icon-contents{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	padding:15% 60px 30%;
	height:100%;
}
.icon-contents .row{
	height: 100%;
	margin:0 -10px;
}
.icon-contents .row .col-xs-6{
	height: 33.333333%;
}
.icon-contents .icon-item{
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}
.icon-contents .icon-item .img-box{
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}
.icon-contents .icon-item .img-box img{
	display: inline-block;
	width: 100%;
	height: auto;
}
.icon-contents+.btns a.btn{
	padding:20px 0;
}
@media only screen and (max-width: 500px) {
	.btns a.btn{
		font-size: 16px;
	}
}