.container-fluid>.row{
	height: 100%;
}
.item{
	position: relative;
	overflow: hidden;
}
.item span.dot{
	background: url(../img/dot.png) no-repeat center center;
	display: inline-block;
	width: 8px;
	height: 8px;
	background-size: 100%;
	margin:0 5px 2px;
}
.item .btns{
	padding:0 20px;
	bottom:45px;
	left:0;
	width: 100%;
}
.item3 .btns{
	bottom:25px;
}
.btns a.btn{
	color: #5e5e5e;
	margin: 10px 0;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	line-height: 1.3333333;
}
.btns a.btn span{
	display: block;
	text-align: right;
	font-size: 12px;
	position: absolute;
	bottom:5px;
	right:10px;
	font-weight: normal;
}
.select-img img{
	width: 100%;
	display: block;
	margin-top:-45px;
}
.item3 .select-img img{
	margin-top:0;
}
.btn-transparent{
	background-color: rgba(255,255,255,0.6);
	border:1px solid transparent;
	transform: translateZ(0);
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;	
}
.btns a.btn-transparent:hover{
	color: #fff;
	border: 1px solid #fff;
	background-color: rgba(16, 115, 146, 0.77);
	transition: background-color 300ms linear,border 300ms linear;
}
.text-content{
	font-size: 18px;
}
.text-content p{
	margin:20px 0;
	color: #706e6e;
}
.text-content p span{
	font-size: 20px;
	padding: 0 10px 0 0;
	color: rgba(16, 115, 146, 0.77);
	font-weight: bold;
}
.text-content a.btn-transparent{
	background: #e1e1e1;
	border: none!important;
	color: #424242;
}
.text-content .btn-transparent:hover,.text-content .btn-transparent:focus{
	border:none;
	background-color: rgba(16, 115, 146, 0.77)!important;
	transition: background-color 300ms linear,border 300ms linear;
	color: #fff;
}
.icon-contents{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	padding:15% 60px 30%;
	height:100%;
}
.icon-contents .row{
	height: 100%;
	margin:0 -10px;
}
.icon-contents .row .col-xs-6{
	height: 33.333333%;
}
.icon-contents .icon-item{
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}
.icon-contents .icon-item .img-box{
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}
.icon-contents .icon-item .img-box img{
	display: inline-block;
	width: 100%;
	height: auto;
}
.icon-contents+.btns a.btn{
	padding:20px 0;
}
/*图片轮播滚动*/
.item .carousel-indicators{
	width: auto;
	left:initial;
	right:20px;
	margin-left: initial;
}
.item .carousel-indicators li{
	width: 6px;
	height: 6px;
	border-radius: 6px;
}
.item .carousel-indicators .active{
	width: 8px;
	height: 8px;
}
@media only screen and (max-width: 500px) {
	.btns a.btn,.text-content{
		font-size: 16px;
	}
	.item{
		max-height: 100%;
	}
	.item .btns{
		bottom:50px;
	}
	.item3 .btns{
		bottom:25px;
	}
	.select-img img{
		margin-top:-80px;
	}
	.item3 .select-img img{
		margin-top:0;
	}
}